.vscode/

opentelemetry-collector/
opentelemetry-collector-contrib/
redhat-opentelemetry-collector/
opentelemetry-operator/
konflux-opentelemetry/
openshift-docs/
distributed-tracing-console-plugin/
logging-view-plugin/
multicluster-observability-addon/
distributed-tracing-qe/
release/